<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macgavrina.moodmenology">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MoodMenologyApp"
        android:allowBackup="true"
        android:icon="@mipmap/mood_menology_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mood_menology_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ActivitySettings"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.macgavrina.moodmenology.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ActivityEditAction"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.macgavrina.moodmenology.edit.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ActivityAddAction"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.macgavrina.moodmenology.add.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".services.ServicePrepareAllData">
            <intent-filter>
                <action android:name="com.macgavrina.moodmenology.prepare.all"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>